{% extends 'base.html.twig' %}

{% block title %} {{parent()}} - Accueil  {% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <h2 class="col-12 my-5"> LISTE DES VOLS </h2>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-striped listevols">
                <tr>
                    <th>Numéro de vol</th>
                    <th>Départ</th>
                    <th>Arrivée</th>
                    <th>Horaire</th>
                    <th>Places</th>
                    <th>Prix</th>
                    <th><span class="fa fa-info-circle"></span></th>
                    <th><span class="fa fa-exclamation-circle"></span></th>
                </tr>
                {% for f in flights %}
                <tr>
                    <td>{{ f.number }}</td>
                    <td>{{ f.departure.name }}</td>
                    <td>{{ f.arrival.name }}</td>
                    <td>{{ f.schedule | date('H:i') }}</td>
                    <td>{{ f.seat }}</td>
                {% if f.reduction %}
                    <td>{{ f.price - f.price*5/100 }}</td>
                    <td class="promo"> PROMO </td>
                {% else %}
                    <td>{{ f.price }}</td>
                    <td></td>
                {% endif %}
                
                {% if f.seat == 50 %}
                    <td class='complet'> COMPLET </td>
                {% else %}
                    <td></td>
                {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}
